.Logo a {
    text-decoration: none;
    color: orange;

}

.New-Post-Button a {
    text-decoration: none;
    color: tomato;
}

header {
    border-bottom: 2px solid black;
}

.Login-Status a {
    text-decoration: none;

}

.Login-Status {
    font-size: 20px;
    padding-top: 20px;
}